{% extends 'home.html' %}

{% block content %}
<div class="contact-section">
    <h1>Contact Info</h1>
    <p><strong>Address:</strong> 2-15-1, Srirampuram(v), Payakaraopeta(M), Anakapalli(dist.), Pincode: 531127</p>
    <p><strong>Email:</strong> <a href="mailto:vschandrashekarparepalli@gmail.com">vschandrashekarparepalli@gmail.com</a></p>
    <p><strong>Contact No:</strong> <a href="tel:7993516529">7993516529</a></p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/venkata-satya-chandra-shekar-parepalli-312b431b4/">Venkata Satya Chandra Shekar Parepalli</a></p>
    <p><strong>Github:</strong> <a href="https://github.com/Pvschs99/">PVCSCHS99</a></p>
</div>
{% endblock %}
